<mat-toolbar class="footer">
    <div class="grid">
        <div class="rodape">
            <dl>
                <dd><a mat-button routerLink="/institucional">INSTITUCIONAL</a></dd>
                <dd>E-mail:<a href="mailto:gamemania@gamemania.com.br"><i class="fas fa-envelope-square"></i>gmania@gmania.com.br</a></dd>
            </dl>
        </div>
        <div class="rodape">
            <dl>
                <dt>ATENDIMENTO de seg a sex das 8h às 17h.</dt>
                <dt>FONE: 11-99999-9999</dt>
            </dl>
        </div>
        <div class="rodape">
            <dl>
                <dd>
                    <a href="https://www.instagram.com/" target="_blank">
                        instagram @gmania
                    </a>
                </dd>
                <dd>
                    <a href="https://www.facebook.com/" target="_blank">
                        Facebook Gmania
                    </a>
                </dd>
                <dd>
                    <span>Feito por @Cassio</span>
                </dd>
            </dl>
        </div>
    </div>

</mat-toolbar>